title: Charles Martin
email: cpm@charlesmartin.au
title-image: "/assets/bio/charlesmartin-synth-profile.jpg"
tagline: A blog about music technnology and computing.
description: > 
  Charles Martin is a computer scientist and musician specialising in music technology, creative AI, and human-computer interaction.
baseurl: ""
url: "https://charlesmartin.au"
twitter_username: cpmpercussion
github_username:  cpmpercussion
locale:             en_AU
# Social
analytics-id:       "default"
twitter:
  username: cpmpercussion
  card: summary
instagram:          cpmpercussion
github:             cpmpercussion
soundcloud:         charlesmartin
googlescholar:      mTlH4G8AAAAJ
arxiv:              https://arxiv.org/a/martin_c_1.html
orcid:              0000-0001-5683-7529
logo: "/assets/bio/charlesmartin-synth-profile.jpg"

# Jekyll
permalink:          /blog/:year/:month/:day/:title
markdown:           kramdown
highlighter:        rouge
kramdown:
  auto_ids:         true
  footnote_nr:      1
  entity_output:    as_char
  toc_levels:       1..6
  enable_coderay:   false
mathjax:            true
sass:
  sass_dir:         _sass
  style:            compressed
  
# Gems
plugins:
  - jekyll-mentions
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate-v2
  - jekyll-scholar
  - jekyll-toc
  - jekyll-seo-tag

include:
- _redirects

# Jekyll Scholar config
# See here for config: https://github.com/inukshuk/jekyll-scholar
scholar:
  style: "/_bibliography/acm-sigchi-proceedings.csl"
  source: _bibliography
  bibliography: publications.bib
  repository: preprints
  bibliography_template: bibliography
  group_by: year
  group_order: descending
  bibliography_list_tag: "ul"
  bibliography_item_tag: "li"

  
############################################################
# Site configuration for the Jekyll 3 Pagination Gem
# The values here represent the defaults if nothing is set
pagination:
  # Site-wide kill switch, disabled here it doesn't run at all 
  enabled: true
  # Set to 'true' to enable pagination debugging. This can be enabled in the site config or only for individual pagination pages
  debug: false
  # The default document collection to paginate if nothing is specified ('posts' is default)
  collection: 'posts'
  # How many objects per paginated page, used to be `paginate` (default: 0, means all)
  per_page: 6
  # The permalink structure for the paginated pages (this can be any level deep)
  permalink: '/:num/' # Pages are index.html inside this folder (default)
  #permalink: '/blog/:num.html' # Pages are simple html files 
  #permalink: '/blog/:num' # Pages are html files, linked jekyll extensionless permalink style.
  # Optional the title format for the paginated pages (supports :title for original page title, :num for pagination page number, :max for total number of pages)
  title: ':title - page :num'
  # Limit how many pagenated pages to create (default: 0, means all)
  limit: 0
  # Optional, defines the field that the posts should be sorted on (omit to default to 'date')
  sort_field: 'date'
  # Optional, sorts the posts in reverse order (omit to default decending or sort_reverse: true)
  sort_reverse: true
  # Optional, the default category to use, omit or just leave this as 'posts' to get a backwards-compatible behavior (all posts)
  category: 'posts'
  # Optional, the default tag to use, omit to disable
  tag: ''
  # Optional, the default locale to use, omit to disable (depends on a field 'locale' to be specified in the posts, 
  # in reality this can be any value, suggested are the Microsoft locale-codes (e.g. en_US, en_GB) or simply the ISO-639 language code )
  locale: '' 
 # Optional,omit or set both before and after to zero to disable. 
 # Controls how the pagination trail for the paginated pages look like. 
  trail: 
    before: 2
    after: 2
  extension: html
  indexpage: 'index'


collections:
  projects:
    output: true
    permalink: /projects/:path/
    sort_by: started
  lab:
    output: true


