<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <a class="navbar-brand" href="#">
    <img src="{% link /assets/images/cpm-logo-white.svg %}" width="40" class="d-inline-block align-top" alt="">
    cpm
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% for link in site.data.navigation %}
      {% assign class = nil %}
      {% if page.url == link.url %}
      {% assign class = "active" %}
      {% endif %}
      <li class="nav-item {{ class }}">
      <a class="nav-link {{ class }}" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
	      <a rel="me" href="https://aus.social/@charlesmartin" class="nav-link">
		      <i class="fab fa-mastodon"></i></a></li>
      <li class="nav-item">
	      <a href="https://pixelfed.au/charlesmartin" class="nav-link">
		      <i class="fa fa-camera"></i></a></li>
      <li class="nav-item">
	      <a href="https://github.com/{{site.github}}" class="nav-link">
		      <i class="fab fa-github"></i></a></li>
      <li class="nav-item">
	      <a href="https://charlesmartin.bandcamp.com/" class="nav-link">
		      <i class="fab fa-bandcamp"></i></a></li>
      <li class="nav-item">
	      <a href="https://scholar.google.no/citations?user={{site.googlescholar}}" class="nav-link">
		      <i class="ai ai-google-scholar-square"></i></a></li>
    </ul>
    <!-- unlisted links -->
    <a rel="me" href="https://mastodon.acm.org/@charlesmartin"></a>
  </div>
</nav>
