<!-- <ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/bio/" | absolute_url }}">bio</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/cv/" | absolute_url }}">cv</a></li>
  <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/publications/" | absolute_url }}">publications</a></li>
</ul> -->
<ul class="links">
  <li><a href="{{ "/" | absolute_url }}">home</a></li>
  <li><a href="{{ "/" | absolute_url }}">blog</a></li>
  <li><a href="{{ "/bio/" | absolute_url }}">bio</a></li>
  <li><a href="{{ "/music/" | absolute_url }}">music</a></li>
  <li><a href="{{ "/publications/" | absolute_url }}">publications</a></li>
</ul>
