<ul class="icons">
    <li><a href="https://twitter.com/{{site.twitter}}" class="fab fa-twitter icon" rel="nofollow"><span class="label">Twitter</span></a></li>
    <li><a href="https://instagram.com/{{site.instagram}}" class="fab fa-instagram icon" rel="nofollow"><span class="label">Instagram</span></a></li>
    <li><a href="https://github.com/{{site.github}}" class="fab fa-github icon" rel="nofollow"><span class="label">GitHub</span></a></li>
    <li><a href="https://soundcloud.com/{{site.soundcloud}}" class="fab fa-soundcloud icon" rel="nofollow"><span class="label">SoundCloud</span></a></li>
    <li><a href="https://scholar.google.no/citations?user={{site.googlescholar}}" class="ai ai-google-scholar-square icon" rel="nofollow"><span class="label">Scholar</span></a></li>
</ul>