---
---
// Inter Font
@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

$body-font: 'Inter', sans-serif;
$header-font: 'Inter', sans-serif;

html {
    font-family: $body-font;
}

body {
  font-family: $body-font;
  font-weight: normal;
}

body {
    background: url({% link /assets/images/bg.jpg %}) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

p {
    font-family: $body-font;
}


h1, h3, h5 {
  font-family: $header-font;
  font-weight: 600 !important;
}

h2, h4, h6 {
    font-family: $header-font;
    font-weight: 500;
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    font-family: $header-font;
    font-weight: 600 !important;
    text-transform: uppercase;
}

.heading-logo {
    border-style: solid;
    border-color: #fff;
    border-width: 5px;
    padding: 1rem;
}

h2.bibliography {
    font-size: 1.5rem !important;
}

.button {
  font-family: $body-font;
  font-weight: bold;
}

article {

    img {
        max-width: 80%;
        max-height: 80%;
        height: inherit !important;
        display:block;
        margin:auto;
    }

    .display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
        text-align: center;
    }
}

img.carouselcontain {
    width: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}

// nice orange to red gradient
//background: rgb(255,188,48);
//background: linear-gradient(90deg, rgba(255,188,48,1) 0%, rgba(255,0,0,1) 100%);

