---
---
{{reference}}

<div id="{{key}}-materials">

  {% if entry.abstract %}
  <a class="btn btn-outline-secondary button-{{key}}-abstract" data-toggle="collapse" href="#{{key}}-abstract" role="button">Abstract</a>
  {% endif %}
  {% if entry.doi %}
  <a class="btn btn-outline-secondary" href="https://dx.doi.org/{{entry.doi}}">DOI</a>
  {% endif %}
  {% if entry.url %}
  <a class="btn btn-outline-secondary" href="{{entry.url}}">URL</a>
  {% endif %}
  {% if entry.preprint %}
  <a class="btn btn-outline-secondary" href="{{entry.preprint}}">Preprint PDF</a>
  {% endif %}
  {% if entry.video %}
  <a class="btn btn-outline-secondary" href="{{entry.video}}">Video</a>
  {% endif %}
  <a class="btn btn-outline-secondary button-{{key}}-bibtex" data-toggle="collapse" href="#{{key}}-bibtex" role="button">BibTex</a>

  {% if entry.abstract %}
  <div class="collapse" id="{{key}}-abstract">
    <div class="card card-body" style="font-size:0.75em;line-height:1.5;">
      {{entry.abstract}}
    </div>
  </div>
  {% endif %}

  <div class="collapse" id="{{key}}-bibtex">
    <div class="card card-body">
      <pre style="font-size:0.6em;line-height: 1.5;">{{entry.bibtex}}</pre>
    </div>
  </div>

</div>
