---
layout: default
---
<article>
<div class="my-4 py-4">
  <h1 class="display-5">{{ page.title }}</h1>
</div>
  
{% for post in paginator.posts %}
<div class="p-2 my-4">
<span class="font-italic text-secondary">{{ post.date | date: "%b %-d, %Y" }}</span>
<h2><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
<p>{{ post.excerpt }}</p>
<a class="btn btn-sm btn-outline-secondary" href="{{ post.url | relative_url }}">read more</a></li>
</div>
<hr>
{% endfor %}
 
</article>

{% if paginator.total_pages > 1 %}
<nav>
  {% if paginator.previous_page %}
  <a class="btn btn-outline-secondary" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  {% endif %}
  {% if paginator.next_page %}
  <a  class="btn btn-outline-secondary" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  {% endif %}
  <a  class="btn btn-outline-secondary" href="{% link postlist.md %}">All Posts</a>
</nav>
{% endif %}
